<div class="row">
  <div class="offset-md-3 col-md-6">
<h1>Burger Barn!!!<i class="fas fa-hamburger"></i></h1>


<h2>I just devoured these burgers!</h2>


<ul style="list-style: none;">
  {{#each burgers}}
    {{#unless devour}}
      <li>{{name}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Served up!!!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
     <li>{{name}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button></li>
     
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ba">Burger Name:</label>
    <input type="text" id="ba" name="name">
  </div>
  <div class="form-group">
    <label for="devour">Devoured??</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Served up!!!
  </div>


  <button type="submit">Add Burger</button>
  <button type="reset">Delete Burger</button>
</form>
</div>
</div>