<h1>Burger Barn!!!</h1>

<h2>Add your own delicious burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgerss}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ba">Burger Name:</label>
    <input type="text" id="ba" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devoured?</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Created
  </div>

  <button type="submit">Add Burger</button>
</form>
