*,*::before, *::after {
  box-sizing: border-box
}

body {
  background-color: rgb(236, 160, 59);
  color: rgb(13, 95, 27)
  text-align

}
h1 {
  color:  rgb(6, 65, 16)
}
h2 {
  color:  rgb(20, 112, 36)
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
